body {
  background-image: url(/images/hotel.jpg);
  background-position: center center;
  background-clip: fixed;
  background-repeat: no-repeat;
  margin: 0 auto;    
}
a {
  color: #335e91;
}
a:hover {
  text-decoration: none;
}
#search-term {
  margin-left: 25px;
  margin-top: 25px;
  width:30%;
  display: inline;
}
.nav-links li{
  list-style: none;
  text-decoration: none;
  display: inline;
}
.nav-button {
  display: inline;
  margin-top: 25px;
}

#live {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.well {
  margin-top: 1em;
  background-color: #fff;
}

.logo {
  font-size: 3.7em;
  font-family: 'Monoton', cursive;
  color: #335e91;
  text-shadow: 1px 1px #fff;
  margin-top: 10px;
}


#login_here {
  text-align: center;
  font-size: 1.5em;
}

.submit {
 margin: 10px 0;
}

#sign-up-link {
  text-align: center;
    font-size: .7em;
}

#new_user {
  text-align: center;
  font-size: 1.5em;  
}


#user_rev {
  height: 600px;
  overflow: scroll;
}

#guest_recent {
  height: 600px;
  overflow: scroll;
}

#guest_name {
  font-size: 2.5em;
}

.panel-title {
  font-size: 2.5em;
}

.panel {
  background-color: rgba(255,255,255,.85);
  border: 1px solid #335e91;
  margin: 3px;
}
.ui-helper-hidden-accessible { 
  text-align: center;
  display:none; 
}

.ui-autocomplete {
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #fff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

@media all and (max-width: 600px) {
  .hidden-600 {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .logo {
    font-size: 2.2em;
    text-align: center;
  }
}


